:root {
    --orange-color: #ffbb20;
}

.sidebar {
    width: 250px;
    background-color: #f1f5f5;
    border: 1px solid var(--orange-color);
    border-radius: 10px;
    height: 100%;
    padding-top: 20px;
}

.sidebar ul li {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease;
    padding: 0;
}

.sidebar ul li .navlink {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    color: black;
}

.sidebar ul li:hover {
    border-top: 0.5px solid #ccccccbe;
    border-bottom: 0.5px solid #ccccccbe;
}

.icon {
    color: #ffbb20;
}

.active {
    text-decoration: none;
    background-color: var(--orange-color);
    color: white !important;
}

.active .icon {
    color: white !important;
}