.user-profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-button {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.settings-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 26px;
}